{% extends "base_generic.html" %}

{% block content %}
<h1>Name: {{ author.last_name }}, {{ author.first_name }}</h1>

  <p><strong>Birth date:</strong> {{ author.date_of_birth }}</p> <!-- author detail link not yet defined -->
  <p><strong>Death date:</strong> {{ author.date_of_death }}</p>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Books written</h4>

    {% for book in author.book_set.all %}
      <hr>

      <p class="text-success"><a href="{{book.get_absolute_url}}">{{ book.title }}</a></p>
      <p class="text-muted"><strong>Summary:</strong> {{book.summary}}</p>
    {% endfor %}
  </div>
{% endblock %}
