<!-- This page extends the base_generic.html file, and imports a book_list variable 
from the generic django view (see catalog/views.py). Additionally, the generic django
view expects this file location (in catalog, with name 'book_list'.)-->
{% extends "base_generic.html" %}

{% block content %}
  <h1>Author List</h1>
  {% if author_list %}
  <ul>
    {% for author in author_list %}
      <li>
          <a href="{{ author.get_absolute_url }}">{{ author.last_name }}, {{ author.first_name }}</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>These are not the authors you are looking for.</p>
  {% endif %}       
{% endblock %}
